.letter-box {
    width: 2em;
    font-size: 16pt;
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.letter-box-incorrect {
    background-color: red;
}

.letter-box-correct {
    background-color: green;
}

.word-container {
    border: dashed 1px black;
    padding: 1em;
}